p1 {
color:  #A0A0A0;
font-size: 35px;
text-align: center;
}
p2{
color: #A0A0A0;
font-size: 28px;
text-align: left;
}
p3{
color: #A0A0A0;
font-size: 28px;
text-align: left;
}
body{
  background-color: black;
  font-family: "Courier",courier,monospace;
}
h1 {
  color:  #A0A0A0;
  font-size: 70px;
  text-align: left;
  font-weight: bold;
  background-color: black;
}
img {
    height: auto;
    max-width: 100%;
}
ul.nav.nav-pills {
    text-align: left;
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #A0A0A0;

}

.nav-pills>li {
    float: none;
    display: inline-block;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 15px 120px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;

}
