p1 {
color:  #A0A0A0;
font-size: 35px;
text-align: center;
p2{
color: #A0A0A0;
font-size: 28px;
text-align: left;
}
body{
  background-color: black;
  font-family: "Courier",courier,monospace;
}
h1 {
  color:  #A0A0A0;
  font-size: 70px;
  text-align: left;
  font-weight: bold;
  background-color: black;
}
img {
    height: auto;
    max-width: 100%;
}
